{
    margin: 0;
    padding: 0;
}

body{
    height: 200vh;
}

.bg{
    background-color: rgb(255, 151, 151);
    font-size: 650px;
    font-weight: 900;
    text-align: center;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    padding-top: 100px;
}

.bg::before{
    content: "";
    background-color: rgb(255, 151, 151);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -99;
}

h1{
    position: absolute;
    top: 145vh;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    color:black;
    letter-spacing: 10px;
    padding: 100px 0;
    text-align: center;
    
}