<!DOCTYPE html>
<html>
<head>

<style>

h1 {text-align: center;}
h2 {text-align: left;}
h3 {text-align: right;}

.p1 {font-family: "Times New Roman", Times, serif;}
.p2 {font-family: Arial, Helvetica, sans-serif;}
.p3 {font-family: "Lucida Console", "Courier New", monospace;}

p.normal {font-weight: normal;}
p.light {font-weight: lighter;}
p.thick {font-weight: bold;}
p.thicker {font-weight: 900;}


p.round3 {
  border: 2px solid red;
  border-radius: 12px;
  padding: 5px;
}




* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}





body {
  background-color: rgb(244, 229, 229);
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff7f7;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: rgb(75, 50, 50);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fff7f7;
}

.active {
  background-color: rgb(255, 151, 151);
}



</style>
</head>
</html>
